<!-- navbar.component.html -->
<div class="bg-red-500">
  <div class="navbar container mx-auto rounded-md justify-between">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost text-white lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          ></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1000000000000000000000] p-2 shadow bg-red-500 text-white rounded w-52 text-xl"
      >
        <li class="rounded">
          <a routerLink="/">Home</a>
        </li>
        <app-dropdown-menu></app-dropdown-menu>
        <li>
          <a routerLink="about">About Us</a>
        </li>
        <li>
          <a routerLink="contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal p-1 items-center rounded text-sm md:text-md lg:text-xl text-white">
        <li class="rounded">
          <a routerLink="/">Home</a>
        </li>
        <app-dropdown-menu></app-dropdown-menu>
        <li>
          <a routerLink="about">About Us</a>
        </li>
        <li>
          <a routerLink="contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="form-control flex flex-row relative">
      <input
        type="text"
        placeholder="Search product"
        class="input input-bordered w-48 lg:w-auto rounded-sm bg-accent text-white placeholder-search"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
      <button class="btn btn-outline btn-accent rounded-sm" (click)="onSearch()">
        <i class="fa fa-search"></i>
      </button>
  
      <!-- Display the matching product names -->
      @if (searchTerm && products.length > 0) {
        <div class="search-results max-h-[300px] lg:max-h-[600px] overflow-y-auto">
          <ul>
            @for (product of products; track $index) {
              <li class="hover:bg-red-500 hover:text-white" [routerLink]="['/product', product?.id]" (click)="onProductClick()">
                {{ product.productName }}
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</div>