<div class="bg-base-200 z-[500000000]">
    <div class="hero container mx-auto lg:pt-20">
      <div class="hero-content flex-col lg:flex-row-reverse pb-0">
        <img
          data-aos="fade-right"
          src="../../../assets/ceo.png"
          class="max-w-sm hidden md:block"
          alt="Doctor Image"
        />
        <div
          data-aos="fade-up"
          class="lg:mr-24 lg:ml-12 mb-8"
        >
          <h1 class="lg:text-5xl md:text-2xl text-lg font-thin">
            {{ about?.title }}
          </h1>
          <p class="lg:py-6 lg:text-lg md:text-sm text-xs mb-2">
            {{ about?.description }}
          </p>
          <button
            class="btn btn-accent rounded text-white capitalize px-2 md:px-5 lg:px-8 font-light lg:text-xl md:text-md text-sm btn-xs md:btn-md"
            routerLink="about"
          >
            About Us
          </button>
        </div>
      </div>
    </div>
  </div>
  
