<li
  class="relative group"
  (mouseenter)="toggleDropdown()"
  (mouseleave)="toggleDropdown()"
  (click)="toggleDropdown()"
>
  <button class="group relative">
    <span class="mr-5">Products</span>
    <svg
      [class.rotate-0]="!isOpen"
      [class.-rotate-180]="isOpen"
      class="transition-transform duration-200 transform absolute right-3 top-1/2 -mt-1 pointer-events-none"
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 3L6 7L10 3"
        [style.stroke]="'currentColor'"
        [style.strokeWidth]="'2px'"
        [style.strokeLinecap]="'round'"
        [style.strokeLinejoin]="'round'"
      ></path>
    </svg>
  </button>
  @if (isOpen) {
    <ul
    class="absolute left-0 top-5 lg:top-8 mt-2 w-60 bg-red-500 rounded-lg py-2 z-10"
  >
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/se">Surgical Equipment</a>
    </li>
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/mf">Medical Furniture</a>
    </li>
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/me">Medical Equipment</a>
    </li>
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/le">Laboratory Equipment</a>
    </li>
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/de">Dental Equipment</a>
    </li>
    <li>
      <a (click)="toggleDropdown()" routerLink="/products/ao">Accessories & Other</a>
    </li>
  </ul>
  }
</li>