<app-cover [title]="yourTitle" [sub1]="yourSub1" [sub2]="yourSub2"></app-cover>

@if (loading) {
  <div
    class="block mt-10 mb-4 mx-auto h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
    role="status"
  >
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Loading...</span
    >
  </div>

  <div class="text-center">Loading...</div>
} @else {
  <div class="container mx-auto">
    <div
      class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 grid-cols-1 justify-items-center gap-10"
    >
      <!-- Display products based on category -->
      @if (category == 'se') {
        @for (product of surgical; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'mf') {
        @for (product of medicalFurniture; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'me') {
        @for (product of medical; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'le') {
        @for (product of laboratory; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'de') {
        @for (product of Dental; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'ao') {
        @for (product of accessories; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
      @if (category == 'all') {
        @for (product of products; track $index) {<app-product-card [product]="product"></app-product-card>}
      }
    </div>
  </div>
}